/* variables */
:root {
    --background-color: #6d706e;
    --seconder-bg-color: rgb(255, 255, 255);
    --main-color: #2a2e2b;
    --hightlight-color: #7bb5b8;
    --p-font-size: .9rem; 
    --basic-font-weight: 300;

}
* {
    /* background-color: var(--background-color); */
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    font-size: var(--p-font-size);
    color: var(--main-color)
}

/* body basic parameters mobile first */
body {
    min-width: 380px;
    background-color: var(--seconder-bg-color);
    height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
}
/* main menu */
/* unerline on hover */
/* header with flexbox */
header {
    background-color: var(--main-color);
    /* height: 3rem; */
    /* border: 2px solid red; */
    padding: .5rem 0.5rem 0.5rem 0;
    align-content: center;
    display: flex;
    /* in mobile view flex direction column */
    flex-direction: column;
}

h1 {
    font-size: 1.8rem;
    background-color: var(--hightlight-color);
    font-weight: 500;
    width: 18rem;
    text-align: right;
    padding-right: .5rem;
}
.nav-container {
    /* border: 2px solid blue; */
    background-color: inherit;
}

.nav-elements {
    /* float: inline-end; */
    background-color: var(--main-color);
    /* color: var(--hightlight-color); */
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.nav-element {
    list-style: none;
    background-color: inherit;
    background-color: var(--main-color);
    padding-right: .7rem;
    padding-top: .5rem;
    color: var(--hightlight-color)
}
.nav-element > a {
    background-color: inherit;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
.nav-element > a:hover {
    text-decoration: underline;
}
/* featured picture */
.hero {
    height: 10rem;
    /* border: 2px solid red; */
    position: relative;
    background-image: url('../assets/images/backgroundimg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.hero > h2 {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    background-color: var(--hightlight-color);
    padding-left: .5rem;
    padding-right: .5rem;
    font-weight: 500;
    font-size: 1.2rem;
    
}

/* work section using flex and grids */
/* .me-container stucture with grid mobile view first, alld the sections arranged in a column  */
.me-container {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    width: 100%;
}
.about-elements, .work-elements, .contact-elements {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    
}

.me-element-title {
    height: 3rem;
    border-bottom: 4px solid var(--main-color);
    color: var(--main-color);
    font-size: 2.5rem;
    line-height: 1;
    font-weight: 500;
    text-align: center;
    margin: 0 0 1rem 0;
    /* margin-top: 1rem; */
    /* background-color: yellow; */
}
/* .about-content {
    margin: 1rem;
} */
/* .work-elements {
    display: flex;
    flex-direction: column;
    /* width: vw; */
/* } */
.work-portfolio-container {
    display: grid;
    /* grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "surf surf"
    "surf surf"
    "led calculator"
    "puzzle run";
    width: 100vw;
    
}
.surf {
    grid-area: surf;
    background-image: url(../assets/images/IMG_0323.JPEG);
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: vw; */
    height: 250px;


}
.work-box {
    border: 4px solid var(--hightlight-color);
    cursor: pointer;
    margin: .5rem;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.work-box:hover {
    opacity: 0.8;
}
.work-title {
    background-color: var(--hightlight-color);
    position: absolute;
    left: 0;
    bottom: .5rem;
    padding: 0.4rem;
}
.work-title > span {
    font-size: .7rem;
    font-weight: 300;
}
.led {
    grid-area: led;
    background-image: url("../assets/images/IMG_0418.JPEG");
}
.calculator {
    grid-area: calculator;
    background-image: url("../assets/images/IMG_0466.JPEG");
}
.puzzle {
    grid-area: puzzle;
    background-image: url("../assets/images/IMG_0499.JPEG");
}
.run {
    grid-area: run;
    background-image: url("../assets/images/IMG_0506.JPEG");
}
/* .work-elements::after {
    content: "";
    position: absolute;
} */
/* contact container */
/* .contact-elements {
    display: flex;
    flex-direction: column;
} */
.contact-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 0 2rem;


}

.contact-links > a {
    font-size: 1.2rem;
    text-decoration: none;
    cursor: pointer;
}
.contact-links > a:hover {
    text-decoration: underline;
}

.footer {
margin: 2rem auto;
}
.footer > h4 {
    font-size: 1rem;
    font-weight: 200;
    text-align: center;
    color: var(--hightlight-color);
}





/* -------------------------------------media queries -------------------------------------*/
/* navbar bigger than mobile view */
@media screen and (min-width: 660px) {
    /* modify the navbar in bigger than mobile view */
    header {
        flex-direction: row;
        justify-content: space-between;
    }
    .hero {
        margin-bottom: 3rem;
    }
    .me-container {
        width: 90%;
        margin: 0 auto;
    }
    /* change about element in bigger than mobile view */
    /* change flex direction from columt to row*/
    .about-elements, .work-elements, .contact-elements {
        flex-direction: row;
        max-height: max-content;
    }
    /* change the border line of title */
    .me-element-title {
        /* background-color: green; */
        border-bottom: none;
        min-width: 11rem;
        text-align: right;
        font-size: 2.5rem;
    }
    /* .about-content {
        border-left: 5px solid var(--background-color);
    } */
    /* change portfolio-wrap grid alignments */
    .work-portfolio-container {
        border-left: 4px solid var(--background-color);
        margin-bottom: 3rem;
        margin-left: 1rem;
        padding-left: 1.5rem;
    }
    .about-content-container {
        border-left: 4px solid var(--background-color);
        margin-bottom: 3rem;
        margin-left: 1rem;
        padding-left: 1.2rem;
    
    }

    /* .work-portfolio-wrapp { */
        /* min-width: 660px; */
        /* width: vh; */
        /* max-width: 1440px; */
    /* } */
    /* change footer in bigger than mobile view */
    /* .footer-container {
        flex-direction: row;
    } */
    .contact-links {
        flex-direction: row;
        border-left: 4px solid var(--background-color);
        margin-left: 1rem;
    }
    .contact-links > a {
        font-size: 1.2rem;
        
    }




}