/* variables */
:root {
    --background-color: #6d706e;
    --seconder-bg-color: rgb(255, 255, 255);
    --main-color: #2a2e2b;
    --hightlight-color: #7bb5b8;
    --p-font-size: 1rem; 
    --basic-font-weight: 300;

}
* {
    /* background-color: var(--background-color); */
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    font-size: var(--p-font-size);
    color: var(--main-color)
}
/* body basic parameters mobile first */
body {
    min-width: 380px;
    background-color: var(--seconder-bg-color);
    height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
    /* add padding to prevent the content go uderneath the header */
    padding-top: 5.5rem;
}
/* main menu */
/* unerline on hover */
/* header with flexbox */
/* sticky position for header */
header {
    background-color: var(--main-color);
    padding: .5rem 0.5rem 0.5rem 0;
    align-content: center;
    display: flex;
    /* in mobile view flex direction column */
    flex-direction: column;
    /* fix the position of the header */
    position: fixed;
    top: 0;
    min-width: 380px;
    width: 100vw;
    z-index: 100;
}
h1 {
    font-size: 1.8rem;
    background-color: var(--hightlight-color);
    font-weight: 500;
    width: 18rem;
    text-align: right;
    padding-right: .5rem;
}
.nav-container {
    /* border: 2px solid blue; */
    background-color: inherit;
}
.nav-elements {
    background-color: var(--main-color);
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.nav-element {
    list-style: none;
    background-color: inherit;
    background-color: var(--main-color);
    padding-right: 1rem;
    padding-top: .5rem;
    color: var(--hightlight-color)
}
.nav-element > a {
    background-color: inherit;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
.nav-element > a:hover {
    text-decoration: underline;
}
/* featured picture */
.hero {
    height: 10rem;
    position: relative;
    background-image: url('../assets/images/backgroundimg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: .5rem;
}
.hero > h2 {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    background-color: var(--hightlight-color);
    padding-left: .5rem;
    padding-right: .5rem;
    font-weight: 500;
    font-size: 1.2rem; 
}
/* work section using flex and grids */
/* .me-container stucture with grid mobile view first, alld the sections arranged in a column  */
.me-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 380px;
}
.about-elements, .work-elements, .contact-elements {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
    min-width: 380px;
}
.me-element-title {
    height: 3rem;
    border-bottom: 4px solid var(--main-color);
    color: var(--main-color);
    font-size: 2.5rem;
    line-height: 1;
    font-weight: 500;
    text-align: center;
    margin: 0 0 1rem 0;
}
.about-content-container {
    padding: 0 .5rem;
}
.work-portfolio-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "surf surf"
    "surf surf"
    "led calculator"
    "puzzle run";
    width: 100vw;  
    min-width: 380px; 
}
.surf {
    grid-area: surf;
    background-image: url(../assets/images/surf-illustrator.jpg);
    height: 250px;
}
.work-box {
    border: 4px solid var(--hightlight-color);
    cursor: pointer;
    margin: .5rem;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 2;
}
.work-box:hover {
    opacity: 0.8;
}

.work-title {
    background-color: var(--hightlight-color);
    position: absolute;
    left: 0;
    bottom: .5rem;
    padding: 0.4rem;
}
.work-title > span {
    font-size: .7rem;
    font-weight: 300;
}
/*----------- elements of work container -------------------*/
.led {
    grid-area: led;
    background-image: url("../assets/images/ledwall-illustrator.jpg");
}
.calculator {
    grid-area: calculator;
    background-image: url("../assets/images/calc-illustrator.jpg");
}
.puzzle {
    grid-area: puzzle;
    background-image: url("../assets/images/puzzle-illustrator.jpg");
}
.run {
    grid-area: run;
    background-image: url("../assets/images/run-illustrator.jpg");
}
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
.contact-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 0 2rem;
}
.contact-links > a {
    font-size: 1.2rem;
    text-decoration: none;
    cursor: pointer;
}
.contact-links > a:hover {
    text-decoration: underline;
}
.footer {
margin: 2rem auto;
}
.footer > h4 {
    font-size: 1rem;
    font-weight: 200;
    text-align: center;
    color: var(--hightlight-color);
}
/* --------------------------------------------------------------------------------------- */
/* -------------------------------------media queries -------------------------------------*/
/* navbar bigger than mobile view */
@media screen and (min-width: 660px) {
    /* modify the navbar in bigger than mobile view */
    body {
        padding-top: 3.7rem;
    }
    header {
        flex-direction: row;
        justify-content: space-between;
        max-width: 1440px;
    }
    .hero {
        margin-bottom: 3rem;
    }
    /* make the me containter smaller in desktop view */
    .me-container {
        width: 90%;
        margin: 0 auto;
    }
    /* change flex direction from columt to row*/
    .about-elements, .work-elements, .contact-elements {
        flex-direction: row;
        max-height: max-content;
    }
    /* change the underline of titles to left border of the content */
    .me-element-title {
        border-bottom: none;
        min-width: 11rem;
        text-align: right;
        font-size: 2.5rem;
    }
    .work-portfolio-container {
        border-left: 4px solid var(--background-color);
        margin-bottom: 3rem;
        margin-left: 1rem;
        padding-left: 1.5rem;
    }
    .about-content-container {
        border-left: 4px solid var(--background-color);
        margin-bottom: 3rem;
        margin-left: 1rem;
        padding-left: 1.9rem; 
        min-height: 80px;
    }
    .contact-links {
        flex-direction: row;
        border-left: 4px solid var(--background-color);
        margin-left: 1rem;
        min-height: 80px;
    }
    .contact-links > a {
        font-size: 1.1rem;       
    }
}